.input-group {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  border-radius: 0.3rem;
  border: 2px solid var(--textColor, #4f575f);
  box-shadow: var(--shadow);
}

.todo-input {
  width: 100%;
  padding: 0.5rem 1rem;
  background: var(--thirdColor);
  border: none;
  border-radius: 0.3rem 0px 0px 0.3rem;
  font-size: 1.3rem;
  color: var(--textColor);
  outline: none;
}
.todo-input::placeholder {
  font-size: 1.2rem;
  color: var(--textColor);
  opacity: 0.5; 
}

.input-button {
  border: none;
  font-size: 1rem;
  background: var(--textColor);
  color: var(--mainColor);
}

.plus-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: none;
  background: var(--textColor);
  color: var(--mainColor);
  padding-inline: 12px;
  cursor: pointer;

}